.box_arrow_btn {
  height: 6.6rem;
  padding-left: 2rem;
  border: solid 1px #575757;
  background-color: #fff;
  position: relative;
  font-size: 2.2rem;
  font-weight: 500;
}

.box_arrow_btn span {
  display: inline-block;
  height: 100%;
  width: 6.6rem;
  background-color: #ffdfed;
  border-left: solid 1px #575757;
  position: absolute;
  top: 0;
  right: 0;
  transition: background-color 0.25s;
}

.box_arrow_btn span:hover {
  background-color: #ffc3dc;
}

.box_arrow_btn span::after {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  border-top: solid 1px #575757;
  border-right: solid 1px #575757;
  position: absolute;
  top: 40%;
  left: 36%;
  transform: rotate(45deg);
}

.flex_default {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_box img {
  width: 100%;
  height: auto;
}
